

.private_image {
    background-image: url("../images/EazyLearnGroup.jpg");
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    border-radius: 3px;
}

.loginlabel{
    margin-right: 100%;
}

.loginbtn{
    width: 100%;
    margin-top: 15px;
}
.logintext{
    font-size: 25px;
    font-weight: 400;
}

.card {
    width: 50%;
    padding: 60px;
    position: absolute;
    top: 15%;

}

 @media only screen and (max-width: 600px){
    .card{
        width: 100%;
        top: 17%px;
    }

    .logintext{
        font-size: 19px;
    }
 }

.dashboard_table {
    width: auto;
    height: auto;
    margin-top: 20px;
    border: 0px solid rgba(245, 245, 245, 0.4);
    background-color: rgba(245, 245, 245, 0.4);
    padding: 20px;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya', sans-serif
}
header a {
    padding: 100px;
            text-align: center;
            text-decoration: none;
        margin-top: 20px;
        }
section{
    margin-top: 20px;
    color: #2e4358;
    margin: 20px;
}

section h3{
    font-weight: 300;
    font-size: 32px;
}

section p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 18px;
}

.wallet-1{
    font-weight: 800;
    font-size: 36px;
    text-align: center;

}

.wallets p{
    font-size:18px;
    font-weight: 300;
    margin: 20px;
    text-align: center;

}

aside{
    margin: 10px;
    padding: 20px;
}

aside img{
    width: 100%;
    border-radius: 50px;
}

aside a{
    text-decoration: none;
    color: #587087;
    font-size: 10.8px;
    text-align: center;
    font-weight: bolder;
}

.shadow {
    width: 8%;
    box-shadow: rgb(204, 204, 204) 2px 2px 10px 2px;
    border-radius: 10px;
    display: inline-flex;
    padding: 10px;
    margin: 5px;
}

@media (max-width: 760px) {
    header a {
        padding: 40px;
    }
    
    aside{
        margin-left: auto;
        margin-right: auto;
    }
    
    
.shadow {
    width: 17%;
 }
}


.form-link{
    margin-top: 20px;
    text-decoration: none;

}
.secure, .keystore, .private{
    margin-right: 5%;
    text-decoration: none;
    color: black;
}
form{
    margin-top: 30px;
    text-align: center;
}

i{
    color: #2a498d;
}

.btn-secure{
    width: 90%;
    padding: 10px;
    color: whitesmoke;
    background-color: #2a498d;
    border: none;
    border-radius: 10px;

}